@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Baloo+Bhaijaan+2&family=Carrois+Gothic+SC&family=Comfortaa&family=Concert+One&family=Dosis:wght@300&family=Genos:wght@300&family=Kumbh+Sans:wght@100;300&family=Lato&family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@700&family=Pacifico&family=Pathway+Gothic+One&family=Patrick+Hand&family=Permanent+Marker&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;300&family=Special+Elite&family=Titillium+Web:wght@200&family=Ubuntu+Condensed&family=Voltaire&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #caa9fb;
    background-image: url("./page-turner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    overflow-y:scroll;
    
}

.add-btn{
    padding: 10px;
    width: 150px;
    background: rgba(107, 44, 19, 0.9);
    border-radius: 5px;
    margin: 0.5rem 1rem;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-weight:normal;
    font-size: 1.3rem;
}

.add-btn:hover{
    background: rgba(148, 51, 6, 0.8);
    font-weight:bolder;
}

.container{
    width: 100vw;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap:5rem;

    
}



.book{
    padding: 1rem;
    min-width: 5rem;
    min-height:5rem;

    background: rgba(0, 0, 0, 0.7);
    /* height: 140px; */
    height:30rem;
    width:35rem;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.book-name{
    color:rgb(194, 103, 62);
    font-family: 'Carrois Gothic SC', sans-serif;
    font-weight: normal;
}


.description{
    
    width:33rem;
    height:25rem;
    background-color:bisque;
    background:transparent;
}

.description .tarea{
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    resize:none;
    padding:1rem;
    font-size:1rem;
    font-family: 'Comfortaa', cursive;
    font-weight:bolder;
    border:0;
    outline:none;
    border-radius:0.4rem;
    background-color: rgba(219, 222, 224,0.8);

}

.book-name .update{

    background-color: rgba(13, 104, 13,0.7);
    border-radius: 0.5rem;
    padding:0.5rem;
    width:5rem;
    height:2rem;
    color: white;
    font-weight: bolder;
    margin-left:1rem;
    border:0;
    float:right;
    cursor: pointer;
}
.update:hover{
    background-color:green;
    transition: all 0.3s linear;
}

.cross-btn{
    width: 2rem;
    height: 2rem;
    float: right;
    cursor: pointer;
    padding:0.5rem;
    border-radius: 0.5rem;
}
.cr-btn{
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}
.cr-btn:hover{
    background-color:rgba(180, 16, 16,0.7);
    transition: all 0.3s linear;
}
.cross-btn:hover{
    background-color:rgba(180, 16, 16,0.7);
    transition: all 0.3s linear;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.add-book-form{
    width: 50vw;
    height: 60vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;

}

#form-top{
    width: 50vw;
    height: 70px;
    background-color: rgb(26, 80, 161);
    color: white;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 12px;
}



.hide-modal{
    display: none;
}

.show-modal{
    display: flex;
}

.input-ctn{
    width: 50vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
}

.book-title{
    width: 480px;
    padding: 10px;
    border: 1px solid white;
    border-radius:5px;
    background-color: rgba(248, 248, 248, 0.7);
    outline: none;
}

.add-book-btn{
    width: 120px;
    background-color: rgb(18, 85, 129);
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size:1.5rem;
}